﻿@{
    ViewBag.Title = "Dashboard Tracking";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css" type="text/css"/>
<div class="row">
    <div class="col-lg-12">
        <div id="ahiuicu"></div>
        <div class="alert alert-success fade in" id="successsubmit" style="display:none">
            <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="icon-remove"></i>
            </button>
            <strong>Success</strong> You just submit new order to ILogic.
        </div>
            <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>TrackingCode</th>
                        <th>orderBooking</th>
                        <th>waybillNo</th>
                        <th>Status</th>
                        <th>parcelSize</th>
                        <th>parcelCategory</th>
                        <th>consigneeName</th>
                        <th>consigneePhone</th>
                        <th>partnerName</th>
                        <th>partnerPhone</th>
                        <th>HubCode iLogic Service Point</th>
                        <th>HubCode iLogic Box</th>
                        <th>remark</th>
                        <th>serviceId</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
      
        </div>
   
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="position: initial;">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-validate form-horizontal">
                            <div class="form-group ">
                                <label for="ctrackingcode" class="control-label col-lg-3">TrackingCode</label>
                                <div class="col-lg-9">
                                    <input class="form-control" id="ctrackingcode" name="trackingcode" minlength="5" type="text" required  style="-webkit-border-radius: 500px"/>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="cwaybillno" class="control-label col-lg-3">WayBillNo</label>
                                <div class="col-lg-9">
                                    <input class="form-control" id="cwaybillno" name="waybillno" minlength="5" type="text" required style="-webkit-border-radius: 500px"/>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="cname" class="control-label col-lg-3">Parcel Size</label>
                                <div class="col-lg-9">
                                    <select id="cparcelsize"  style="width:100%">
                                        <option value="SMALL_SIZED">Small Sized</option>
                                        <option value="MEDIUM_SIZED">Medium Sized</option>
                                        <option value="LARGE_SIZED">Large Sized</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="cname" class="control-label col-lg-3">Parcel Category</label>
                                <div class="col-lg-9">
                                    <select id="cparcelcategory" style="width:100%">
                                        <option value="FASHION">Fashion</option>
                                        <option value="ELECTRONIC">Electronic</option>
                                        <option value="COSMETIC">Cosmetic</option>
                                        <option value="FOOD">Food</option>
                                        <option value="DOCUMENT">Document</option>
                                        <option value="GIFT">Gift</option>
                                        <option value="HOUSING">Housing</option>
                                        <option value="HANDLEWITHCARE">Handle with care</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group ">
                                <label for="cconsigneename" class="control-label col-lg-3">Consignee Name</label>
                                <div class="col-lg-9">
                                    <input class="form-control round-input" id="cconsigneename" name="consigneename" minlength="2" type="text" required style="-webkit-border-radius: 500px"/>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="cconsigneephone" class="control-label col-lg-3">Consignee Phone</label>
                                <div class="col-lg-9">
                                    <input class="form-control round-input" id="cconsigneephone" name="consigneephone" minlength="2" type="text" required style="-webkit-border-radius: 500px"/>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="cpartnerename" class="control-label col-lg-3">Partner Name</label>
                                <div class="col-lg-9">
                                    <input class="form-control round-input" id="cpartnerename" name="partnername" minlength="2" type="text" required style="-webkit-border-radius: 500px"/>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="cpartnerphone" class="control-label col-lg-3">Partner Phone</label>
                                <div class="col-lg-9">
                                    <input class="form-control" id="cpartnerphone" name="partnerphone" minlength="2" type="text" required style="-webkit-border-radius: 500px"/>
                                </div>
                            </div>
 <!--                       <div class="form-group ">
                            <label for="cpickuphubcode" class="control-label col-lg-3">HubCode iLogic Service Point</label>
                            <div class="col-lg-9">
                                <input class="form-control" id="cpickuphubcode" name="pickuphubcode" minlength="2" type="text" required style="-webkit-border-radius: 500px"/>
                            </div>
                        </div>-->
                        <div class="form-group ">
                            <label for="cprovince2" class="control-label col-lg-3">Province </label>
                            <div class="col-lg-9">
                                <select id="cprovince2" style="width:100%"></select>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="cpickuphubcode" class="control-label col-lg-3">HubCode iLogic Service Point</label>
                            <div class="col-lg-9">
                                <select id="cpickuphubcode" style="width:100%"></select>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="cprovince" class="control-label col-lg-3">*Province </label>
                            <div class="col-lg-9">
                                <select id="cprovince" style="width:100%"></select>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="cdropoffhubcode" class="control-label col-lg-3">HubCode iLogic Box </label>
                            <div class="col-lg-9">
                                  <select id="cdropoffhubcode" style="width:100%"></select>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="cremark" class="control-label col-lg-3">Remark</label>
                            <div class="col-lg-9">
                                <input class="form-control" id="cremark" name="remark" minlength="2" type="text" required />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="alert alert-block alert-danger fade in" id="errorx" style="display:none">
                        <button data-dismiss="alert" class="close close-sm" type="button">
                            <i class="icon-remove"></i>
                        </button>
                        <strong>Error!</strong><h4 id="errortext"> Submit error, please check order information again </h4>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="Close">Close</button>
                    <button type="button" class="btn btn-primary" id="Savebutton">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <a href="" class="btn btn-default btn-rounded mb-4" id="openmodal" data-toggle="modal" data-target="#exampleModalCenter" style="visibility:hidden">
        Launch
    </a>
</div>
@section scripts {

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        const array = [];
        var listhub_box = "";
        var listhub_sp = "";
        getlist();
        listenEvent();
        getlisthubbox();
        getlisthubsp();
        $('#example').DataTable({
            dom: 'lfrtip<"wrapper"B>',
            buttons: [
                 {
                     text: 'Add New Order',
                     action: function (e, dt, node, config) {
                         $('#openmodal').click();
                     },
                     className: 'btn btn-primary btn-lg'
                 },
                 {
                     extend: 'excelHtml5',
                     className: 'btn btn-success btn-lg',
                     text: 'Export to Excel',
                     autoFilter: true,
                     sheetName: 'Order Status'
                 },
                 { extend: 'csvHtml5', className: 'btn btn-success btn-lg', text: 'Export to CSV' }
            ]

        });
        $('#Savebutton').click(function () {
            $('#Savebutton').addClass("disabled");
            var sendInfo = {
                trackingcode: $('#ctrackingcode').val(),
                waybillno: $('#cwaybillno').val(),
                parcelsize: $("#cparcelsize option:selected").text(),
                parcelcate: $("#cparcelcategory option:selected").text(),
                consigneename: $('#cconsigneename').val(),
                consigneephone: $('#cconsigneephone').val(),
                partnername: $('#cpartnerename').val(),
                partnephone: $('#cpartnerphone').val(),
                pickuphubcode: $('#cpickuphubcode').val(),
                dropoffhubcode: $('#cdropoffhubcode').val(),
                remark: $('#cremark').val()
            };
            $("#errorx").css("display", "none");
            $("#successsubmit").css("display", "none");
            $("#errortext").html("Submit error, please check order information again");
            $.ajax({
                type: "POST",
                url: "/Home/Test",
                data: JSON.stringify(sendInfo),
                contentType: "application/json; charset=utf-8",
                success: function (item) {
                    if (item.error404 == null) {
                        var t = $('#example').DataTable();
                        item.Status = '<span class="label label-primary">' + item.Status + '</span>';
                        t.row.add([
                            item.trackingcode,
                            item.orderBooking,
                            item.waybillno,
                            item.Status,
                            item.parcelsize,
                            item.parcelcate,
                            item.consigneename,
                            item.consigneephone,
                            item.partnername,
                            item.partnephone,
                            item.pickuphubcode,
                            item.dropoffhubcode,
                            item.remark,
                            item.serviceId
                        ]).draw(false);
                        t.columns.adjust().draw();
                        var index = array.findIndex(x => x.status == item.Status);
                        if (index != -1) array[index].count++;
                        else array.push({
                            status: item.Status,
                            count: 1
                        });
                        updatestatus();

                        $("#successsubmit").css("display", "block");
                        $("#Close").click();
                    } else {
                        $("#errorx").css("display", "block");
                        $("#errortext").html(item.error404);
                    }
                },
                failure: function (data) {
                    $("#errorx").css("display", "block");
                    $("#errortext").html(item.error404);
                },
                complete: function () {
                    $('#Savebutton').removeClass("disabled");
                }
            });



        });
        function getlist() {
            array.length = 0;
            $.ajax({
                type: "POST",
                url: "/Home/GetList",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.error404 == null) {
                        var t = $('#example').DataTable();
                        $.each(data, function (index, item) {
                            if (item.Status == "FO_SUBMITTED") item.Status = '<span class="label label-primary">FO_SUBMITTED</span>';
                            else if (item.Status == "FO_DELIVERED" || item.Status == "FO_DELIVERED_BY_ILOGIC") item.Status = '<span class="label label-success">' + item.Status + '</span>';
                            else if (item.Status == "FO_COLLECTED_BY_ILOGIC" || item.Status == "FO_RETURNED_TO_SENDER") item.Status = '<span class="label label-danger">' + item.Status + '</span>';
                            else item.Status = '<span class="label label-warning">' + item.Status + '</span>';
                            var index = array.findIndex(x => x.status == item.Status);
                            if (index != -1) array[index].count++;
                            else array.push({
                                status: item.Status,
                                count: 1
                            });
                            t.row.add([
                                item.trackingcode,
                                item.orderBooking,
                                item.waybillno,
                                item.Status,
                                item.parcelsize,
                                item.parcelcate,
                                item.consigneename,
                                item.consigneephone,
                                item.partnername,
                                item.partnephone,
                                item.pickuphubcode,
                                item.dropoffhubcode,
                                item.remark,
                                item.serviceId
                            ]).draw(false);
                        });
                        t.columns.adjust().draw();
                        updatestatus();
                    } else {
                    }
                },
                failure: function (errMsg) {
                }
            });
        }
        function listenEvent() {
            if (typeof (EventSource) !== "undefined") {
                var source = new EventSource("https://alpha.ilogic.vn:8080/sse/connect?serviceId=DHL_Testing");
                source.addEventListener("DHL_Testing", function (e) {
                    $.ajax({
                        type: "POST",
                        url: "/Home/EventSSE",
                        data: e.data,
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        success: function (item) {
                            if (item.error404 == null) {
                            } else {
                            }
                        },
                        failure: function (errMsg) {
                        }
                    });
                    var table = $('#example').DataTable();
                    var rows = table.rows().remove().draw();
                    getlist();

                }, false);

            } else {
            }

        }
        function getlisthubbox() {
            const arrayprovince = [];
            $.ajax({
                type: "POST",
                url: "/Home/GetHubLockByType?typehub=HUB_AUTO",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.error404 == null) {
                        $('#cprovince').append('<option value="0">Please Choice Province</option>');
                        $.each(data, function (index, item) {
                            
                            var index = arrayprovince.findIndex(x => x.level1 == item.Level1);
                            if (index == -1)arrayprovince.push({
                                level1: item.Level1
                            });
                        });
                        listhub_box = data;
                        for (val of arrayprovince) $('#cprovince').append('<option value="' + val.level1 + '">' + val.level1 + '</option>');
                    } else {
                    }
                },
                failure: function (errMsg) {
                }
            });
        }
        function getlisthubsp() {
            const arrayprovince = [];
            $.ajax({
                type: "POST",
                url: "/Home/GetHubLockByType?typehub=HUB_MANUAL",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.error404 == null) {
                        $('#cprovince2').append('<option value="0">Please Choice Province</option>');
                        $.each(data, function (index, item) {

                            var index = arrayprovince.findIndex(x => x.level1 == item.Level1);
                            if (index == -1) arrayprovince.push({
                                level1: item.Level1
                            });
                        });
                        listhub_sp = data;
                        for (val of arrayprovince) $('#cprovince2').append('<option value="' + val.level1 + '">' + val.level1 + '</option>');
                    } else {
                    }
                },
                failure: function (errMsg) {
                }
            });
        }
        function updatestatus() {
            var htmlcoe = '<div class="follow-info weather-category" style="color:black"><ul>';
            for (val of array) {
                htmlcoe += '<li style="width:' + (100 / array.length) + '%"><h3><b>' + val.count + '</b></h3>' + val.status + '</li>';
            }
            $("#ahiuicu").html(htmlcoe + '</ul></div>');
        }
        $("#cprovince").change(function () {
            $('#cdropoffhubcode').empty();
            $('').css("Enable", "none");
            var valuex = $(this).val();
            $.each(listhub_box, function (index, item) {
                if (valuex == item.Level1) $('#cdropoffhubcode').append('<option value="' + item.Code + '">' + item.Name + '</option>');
            });
        });

        $("#cprovince2").change(function () {
            $('#cpickuphubcode').empty();
            $('').css("Enable", "none");
            var valuex = $(this).val();
            $.each(listhub_sp, function (index, item) {
                if (valuex == item.Level1) $('#cpickuphubcode').append('<option value="' + item.Code + '">' + item.Name + '</option>');
            });
        });

    });

</script>
    }
