﻿
@{
    ViewBag.Title = "Index";
    ViewBag.SyncType = "Asynchronous";
}


<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css" type="text/css" />
<link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.11/css/dataTables.checkboxes.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
<div class="row" style="font-size:initial">

    <style>
        .clockpicker-popover {
            z-index: 999999 !important;
        }
    </style>
    <!--Create New Query-->
    <div class="modal fade in" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
        <div class="modal-dialog" style="width:70%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Add New Query</h4>
                </div>
                <div class="modal-body">

                    <div class="form-validate form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Query Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control round-input input-lg" id="key_name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Keyword</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control round-input input-lg" id="key_word">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">City</label>
                            <div class="col-sm-4">
                                <select class="form-control m-bot15 round-input input-lg" id="city_choice"></select>
                            </div>
                            <label class="col-sm-2 control-label">District</label>
                            <div class="col-sm-3">
                                <select class="form-control m-bot15 round-input input-lg" id="district_choice">
                                    <option value="">Select District</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Status</label>
                            <div class="col-sm-4">
                                <select class="form-control m-bot15 round-input input-lg" id="company_type">
                                    <option>Active</option>
                                    <option>Closed</option>
                                    <option>All</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label">Age</label>
                            <div class="col-sm-3">
                                <select class="form-control m-bot15 round-input input-lg" id="company_age">
                                    @{ for (int i = 1; i < 100; i++)
                                        {
                                            <option>@i year</option>
                                        }
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Industry</label>
                            <div class="col-sm-9">
                                <select class="form-control m-bot15 round-input input-lg" id="main_work"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Search Type</label>
                            <div class="col-sm-9">
                                <select class="form-control m-bot15 round-input input-lg" id="search_type">
                                    <option>Run Now</option>
                                    <option>Recurrent</option>
                                </select>
                            </div>
                        </div>
                        <div id="recurrent_type" style="display:none">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Recurrent Every</label>
                                <div class="col-sm-4">
                                    <select class="form-control m-bot15 round-input input-lg" id="search_work_1">
                                        <option>Every Days</option>
                                        <option>Every Weeks</option>
                                    </select>
                                </div>
                                <label class="col-sm-3 control-label">Recurrent Time</label>
                                <div class="col-sm-2">
                                    <input class="form-control m-bot15 round-input input-lg" id="single-input" value="" placeholder="Select time">
                                </div>
                                <!--      <div class="col-sm-3">
                                           <select class="form-control m-bot15 round-input input-lg" id="recurrent_date">
                                               @{ for (int i = 0; i <= 31; i++)
                                               {
                                                       <option>@i Day</option>
                                                       <br />}
                                               }

                                           </select>
                                       </div>
                                       <div class="col-sm-3">
                                           <select class="form-control m-bot15 round-input input-lg" id="recurrent_hour">
                                               @{ for (int i = 0; i <= 24; i++)
                                               {
                                                       <option>@i Hour</option>
                                                       <br />}
                                               }

                                           </select>
                                       </div>
                                       <div class="col-sm-3">
                                           <select class="form-control m-bot15 round-input input-lg" id="recurrent_minute">
                                               @{ for (int i = 0; i < 60; i++)
                                               {
                                                       <option>@i Minute</option>
                                                       <br />}
                                               }

                                           </select>
                                       </div> -->
                            </div>
                            <div class="form-group" id="date_in_week" style="display:none">
                                <label class="col-sm-3 control-label">Date</label>
                                <div class="col-md-9">
                                    <select multiple="" class="form-control" id="date_rect">
                                        <option value="Monday">Monday</option>
                                        <option value="Tuesday">Tuesday</option>
                                        <option value="Wednesday">Wednesday</option>
                                        <option value="Thursday">Thursday</option>
                                        <option value="Friday">Friday</option>
                                        <option value="Saturday">Saturday</option>
                                        <option value="Sunday">Sunday</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button" id="Close">Close</button>
                    <button data-original-title="Tips" data-content="Check again before submit query" data-placement="top" data-trigger="hover" class="btn btn-info popovers" id="submitquery"> Create new query</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade in" id="fktheplan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
        <div class="modal-dialog" style="width:70%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Create New Lead Plan</h4>
                </div>
                <div class="modal-body">

                    <div class="form-validate form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name </label>
                            <div class="col-sm-9">
                                <textarea type="text" class="form-control input-lg" style="overflow:auto;resize:none" rows="1" id="Lead_Name"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description </label>
                            <div class="col-sm-9">
                                <textarea type="text" class="form-control input-lg" style="overflow:auto;resize:none" rows="10" id="Lead_Description"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Targeted completion date</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control input-lg" style="overflow:auto;resize:none" rows="5" id="Lead_date"/>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Plan Status</label>
                            <div class="col-sm-9">
                                <select class="form-control m-bot15 round-input input-lg" id="Lead_status">
                                    <option value="Not Started" class="">Not Started</option>
                                    <option value="In Progress">In Progress</option>
                                    <option value="Late">Late</option>
                                    <option value="Completed">Completed</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button" id="Closepalnx">Close</button>
                    <button data-original-title="Tips" data-content="Check again before submit query" data-placement="top" data-trigger="hover" class="btn btn-info popovers" id="submitplanssx"> Save</button>
                </div>
            </div>
        </div>
    </div>
    <!--Create New Query-->
    <div class="modal fade in" id="editoldquery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
        <div class="modal-dialog" style="width:70%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Edit Query</h4>
                </div>
                <div class="modal-body">

                    <div class="form-validate form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Query ID</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control round-input input-lg" id="old_QueryID" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Keyword</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control round-input input-lg" id="old_key_word">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Cities</label>
                            <div class="col-sm-4">
                                <select class="form-control m-bot15 round-input input-lg" id="old_city_choice"></select>
                            </div>
                            <label class="col-sm-2 control-label">District</label>
                            <div class="col-sm-3">
                                <select class="form-control m-bot15 round-input input-lg" id="old_district_choice">
                                    <option value="">Select District</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Company Type</label>
                            <div class="col-sm-4">
                                <select class="form-control m-bot15 round-input input-lg" id="old_company_type">
                                    <option value="0">Still Work</option>
                                    <option value="1">Closed</option>
                                    <option value="2">All</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label">Age</label>
                            <div class="col-sm-3">
                                <select class="form-control m-bot15 round-input input-lg" id="old_company_age">
                                    @{ for (int i = 1; i < 100; i++)
                                        {
                                            <option value="@(i)">@i year</option>
                                        }
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Main Job Title</label>
                            <div class="col-sm-9">
                                <select class="form-control m-bot15 round-input input-lg" id="old_main_work"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Search Type</label>
                            <div class="col-sm-9">
                                <select class="form-control m-bot15 round-input input-lg" id="old_search_type">
                                    <option value="0">Run Now</option>
                                    <option value="1">Recurrent</option>
                                </select>
                            </div>
                        </div>
                        <div id="recurrent_typexa" style="display:none">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Recurrent Every</label>
                                <div class="col-sm-4">
                                    <select class="form-control m-bot15 round-input input-lg" id="old_search_work">
                                        <option value="0">Every Days</option>
                                        <option value="1">Every Weeks</option>
                                    </select>
                                </div>
                                <label class="col-sm-3 control-label">Recurrent Time</label>
                                <div class="col-sm-2">
                                    <input class="form-control m-bot15 round-input input-lg" id="old_single-input" value="" placeholder="Select time">
                                </div>
                            </div>
                            <div class="form-group" id="date_in_weekx" style="display:none">
                                <label class="col-sm-3 control-label">Date</label>


                                <div class="col-md-9">
                                    <select multiple="" class="form-control" id="date_rec">
                                        <option value="Monday">Monday</option>
                                        <option value="Tuesday">Tuesday</option>
                                        <option value="Wednesday">Wednesday</option>
                                        <option value="Thursday">Thursday</option>
                                        <option value="Friday">Friday</option>
                                        <option value="Saturday">Saturday</option>
                                        <option value="Sunday">Sunday</option>
                                    </select>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button" id="Closexa">Close</button>
                    <button data-original-title="Tips" data-content="Check again before submit query" data-placement="top" data-trigger="hover" class="btn btn-info popovers" id="submit_new_old" style="display:none">Create New</button>
                    <button data-original-title="Tips" data-content="Check again before save query" data-placement="top" data-trigger="hover" class="btn btn-info popovers" id="submit_save_old">Save query</button>
                </div>
            </div>
        </div>
    </div>
    <!--Edit Details Companies-->
    <div class="modal fade in" id="Companieseditx" tabindex="-1" role="dialog" aria-labelledby="myModalLabelx" aria-hidden="false" style="display: none;">
        <div class="modal-dialog" style="width:80%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Edit Company</h4>
                </div>
                <div class="modal-body">

                    <div class="form-validate form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Company VAT</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control round-input " id="com_vat" disabled>
                                    </div>
                                    <label class="col-sm-3 control-label">ID Lead Plan</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control round-input " id="com_leads" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Company name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control round-input " id="com_name" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Company Age</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control round-input " id="com_Age" disabled>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label"> Status of leads</label>
                                    <div class="col-sm-9">
                                        <select class="form-control round-input " id="com_lead">
                                            <option value="New">New</option>
                                            <option value="Unqualified">Unqualified </option>
                                            <option value="Approaching">Approaching </option>
                                            <option value="Contacted">Contacted </option>
                                            <option value="Negotiating">Negotiating </option>
                                            <option value="Ordered">Ordered </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"> Status Comments</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control round-input " id="com_com">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"> Description events </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control round-input " id="com_events_des">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"> Date events </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control round-input " id="com_events_date">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"> Notes events </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control round-input " id="com_events_note">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"> Next Action </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control round-input " id="com_events_next">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <form>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Contact Role</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control round-input " id="com_role">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Contact Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control round-input " id="com_name_author">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Contact Phone</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control round-input " id="com_phone">
                                        </div>
                                        <label class="col-sm-1 control-label">Email</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control round-input " id="com_email">
                                        </div>
                                        <div class="col-sm-3">
                                            <button type="submit" class="btn btn-info  save-btn">Add Contact</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <table class="table table-bordered data-table" id="contact_table" style="margin-top:10px; background-color:white">
                                            <thead>
                                            <th>Role</th>
                                            <th>Name</th>
                                            <th>Phone</th>
                                            <th>Email</th>

                                            <th>Action</th>
                                            </thead>
                                            <tbody></tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button" id="Closexxa">Close</button>
                    <button data-original-title="Tips" data-content="Check again before submit query" data-placement="top" data-trigger="hover" class="btn btn-info popovers" id="SaveEditCompanies">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!--Edit Details Companies-->
    <!--Add To New Plan-->
    <div class="modal fade in" id="planfkingedit" tabindex="-1" role="dialog" aria-labelledby="myModalLabelx" aria-hidden="false" style="display: none;">
        <div class="modal-dialog" style="width:25%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Add To Plan</h4>
                </div>
                <div class="modal-body">

                    <div class="form-validate form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Select Plan</label>
                            <div class="col-sm-8">
                                <select id="selectplan"></select>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button" id="ClosePlanxa">Close</button>
                    <button data-original-title="Tips" data-content="Check again before submit query" data-placement="top" data-trigger="hover" class="btn btn-info popovers" id="FinishAdd">Add</button>
                </div>
            </div>
        </div>
    </div>
    <!--Add To New Plan-->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">DeleteConfirm</h4>
                </div>
                <div class="modal-body">

                    You sure about delete Query Name: <b id="queryid" style="display:none"></b>
                    <b id="querynamexx"></b>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" id="deletequeryxx"> Just Delete</button>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-danger" data-toggle="modal" href="#myModal3" id="deletebutton" style="display:none"></a>
    <div class="col-lg-12" id="maintable" style="display:block">
        <section class="panel">
            <div class="panel-body">
                <div class="alert alert-success fade in" id="successsubmit" style="display:none">
                    <button data-dismiss="alert" class="close close-sm" type="button">
                        <i class="icon-remove"></i>
                    </button>
                    <strong>Success</strong> You just submit new query.
                </div>
                <table id="history" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Query Name</th>
                            <th>Status</th>
                            <th>Result</th>
                            <th>Schedule</th>
                            <th>Created Time</th>
                            <th>Last Run Time</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </section>
    </div>
    <!--#Table for Details-->
    <div class="col-lg-12" id="detailxxx" style="display:none">
        <section class="panel">
            <div class="panel-body">
                <table id="detailcompanies" class="table table-striped table-bordered dt-responsive" style="width:100%">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="allcb" name="allcb" /></th>
                            <th>VAT Number</th>
                            <th>Company Name</th>
                            <th>Age</th>
                            <th>Lead Status</th>
                            <th>Latest Event Date </th>
                            <th>Status</th>
                            <th>Register Date</th>
                            <th>Close Date</th>
                            <th>Trade Name</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </section>
    </div>
    <!--#Table for Details-->
    <div class="panel-body">
        <a href="" class="btn btn-info " id="openmodal" data-toggle="modal" data-target="#exampleModalCenter" style="visibility:visible">
            Create New Query
        </a>
        <a href="" class="btn btn-info " id="openmodaxal" data-toggle="modal" data-target="#editoldquery" style="display:none">

        </a>
        <div id="step2" style="visibility:hidden">
            <a href="" class="btn btn-info " id="Backindex">
                Back To Query List
            </a>          
            <a href="#" class="btn btn-info " id="AddCompaniesToPlan">
                Add To Plan
            </a>
            <a href="#" class="btn btn-danger " id="DeleteCompaniesFromPlan">
                Delete From Plan
            </a>
            <a href="" class="btn btn-info " id="createnewplan" data-toggle="modal" data-target="#fktheplan">
                Create New Plan
            </a>
        </div>
        <a href="" class="btn btn-info " id="editcompanies" data-toggle="modal" data-target="#Companieseditx" style="visibility:hidden" />
            <a href="" class="btn btn-info " id="fkingplansosad" data-toggle="modal" data-target="#planfkingedit" style="visibility:hidden" />
    </div>
</div>
@section scripts {

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.11/js/dataTables.checkboxes.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script type="text/javascript">
        var list_query = "";
        var list_city = "";
        var memory = "";
        $(document).ready(function () {
            var listcompanies = "";
            getlist();
            getlistcity();
            gettypemain();
            getlistplans();
            var input = $('#single-input').clockpicker({
                placement: 'top',
                align: 'left',
                autoclose: true,
                'default': 'now'
            });
            var inputc = $('#old_single-input').clockpicker({
                placement: 'top',
                align: 'left',
                autoclose: true,
                'default': 'now'
            });

            function getlist() {

                toastr.info('Get List Query Done', 'Information', { timeOut: 5000 });
                $.ajax({
                    type: "POST",
                    url: "/Home/GetListQuery",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.error404 == null) {
                            var t = $('#history').DataTable();
                            console.log(data);
                            list_query = data;
                            $.each(data, function (index, item) {
                                var status = 'danger';
                                if (item.Status == "Running") { item.Status = '<span class="label label-primary">Running</span>'; status = 'active'; }
                                else if (item.Status == "Done") { item.Status = '<span class="label label-success">' + item.Status + '</span>'; status = 'success'; }
                                else if (item.Status == "Error") { item.Status = '<span class="label label-danger">' + item.Status + '</span>'; status = 'danger'; }
                                else { item.Status = '<span class="label label-warning">' + item.Status + '</span>'; status = 'warning'; }
                                var spic = item.ID_query.split("|");
                                var r = t.row.add([
                                    spic[spic.length>0?spic.length-1:0],
                                    item.Status,
                                    '<a class="btn btn-info" href="#" onclick="getdetails(\'' + item.ID_query + '\');">View Details (' + (item.Success + item.Fail) + ' companies)</a>',
                                    item.search_type == 0 ? "RunOnce" : "Recurrent",
                                    item.Create_time,
                                    item.Last_time,
                                    '<div class="btn-group"> <a class="btn btn-info" href="#" onclick="editquery(\'' + item.ID_query + '\');"><i class="icon_pencil-edit"></i></a> <a class="btn btn-danger" href="#" onclick="deleteconfirm(\'' + item.ID_query + '\',\'' + spic[spic.length > 0 ? spic.length - 1 : 0] + '\');"><i class="icon_trash"></i></a></div>'
                                ]).node();
                                $(r).addClass(status);
                            });
                            t.columns.adjust().order([[4, 'desc']]).draw();
                        } else {
                        }
                    },
                    failure: function (errMsg) {
                    }
                });

            };
            function getlistcity() {

                toastr.info('Get List City Done', 'Information', { timeOut: 5000 });
                const arrayprovince = [];
                $.ajax({
                    type: "POST",
                    url: "/Home/GetListCitys",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.error404 == null) {
                            data = JSON.parse(data);
                            $('#city_choice').append('<option value="">Select City</option>');
                            $('#old_city_choice').append('<option value="">Select City</option>');
                            $.each(data, function (index, item) {
                                var index = arrayprovince.findIndex(x => x.ID == item.ID);
                                if (index == -1) arrayprovince.push({
                                    ID: item.ID,
                                    SolrID: item.SolrID,
                                    Title: item.Title,
                                    TotalDoanhNghiep: item.TotalDoanhNghiep
                                });
                            });
                            list_city = data;
                            for (val of arrayprovince) {
                                $('#city_choice').append('<option value="' + val.SolrID + '">' + val.Title + ' ( ' + val.TotalDoanhNghiep + ' companies)' + '</option>');
                                $('#old_city_choice').append('<option value="' + val.SolrID + '">' + val.Title + ' ( ' + val.TotalDoanhNghiep + ' companys)' + '</option>');
                            }
                        } else {
                        }
                    },
                    failure: function (errMsg) {
                    }
                });
            };
            function gettypemain() {
                $('#main_work').empty();
                $('#main_work').append('<option value="">Select Industry</option>');
                $('#old_main_work').empty();
                $('#old_main_work').append('<option value="">Select Industry</option>');
                $.ajax({
                    type: "POST",
                    url: "/Home/GetMainWork",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.error404 == null) {
                            data = JSON.parse(data);
                            $('#main_work').empty();
                            $('#main_work').append('<option value="">Select Industry</option>');
                            $('#old_main_work').empty();
                            $('#old_main_work').append('<option value="">Select Industry</option>');
                            $.each(data, function (index, item) {
                                $('#main_work').append('<option value="' + item.SolrID + '">' + item.Title + '</option>');
                                $('#old_main_work').append('<option value="' + item.SolrID + '">' + item.Title + '</option>');
                            });
                        } else {
                        }
                    },
                    failure: function (errMsg) {
                    }
                });
            };
            function getlistplans() {

                toastr.info('Get List Plan Done', 'Information', { timeOut: 5000 });
                $('#selectplan').empty();
                $('#selectplan').append('<option value="">Select Lead Plan</option>');
                $.ajax({
                    type: "POST",
                    url: "/Home/GetListPlan",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.error404 == null) {
                            $('#selectplan').empty();
                            $('#selectplan').append('<option value="">Select Lead Plan</option>');
                            $.each(data, function (index, item) {
                                $('#selectplan').append('<option value="' + item.ID_lead + '">' + item.Name + '</option>');
                            });
                        } else {
                        }
                    },
                    failure: function (errMsg) {
                    }
                });
            }
            $("#city_choice").change(function () {
                $('').css("Enable", "none");
                $('#district_choice').empty();
                $('#district_choice').append('<option value="">Select District</option>');
                var valuex = $(this).val();
                $.each(list_city, function (index, item) {
                    if (valuex == item.SolrID) {
                        $.ajax({
                            type: "POST",
                            url: "/Home/GetDistrict?Dis=" + item.ID,
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {
                                if (data.error404 == null) {
                                    data = JSON.parse(data);
                                    $('#district_choice').empty();
                                    $('#district_choice').append('<option value="">Select District</option>');
                                    $.each(data, function (index, item) {
                                        $('#district_choice').append('<option value="' + item.SolrID + '">' + item.Title + '</option>');
                                    });
                                } else {
                                }
                            },
                            failure: function (errMsg) {
                            }
                        });
                    }
                });
            });
            $("#search_type").change(function () {
                var valuex = $(this)[0].selectedIndex;
                if (valuex == 1) $("#recurrent_type").css("display", "block");
                else $("#recurrent_type").css("display", "none");
            });
            $("#search_work_1").change(function () {
                var valuex = $(this)[0].selectedIndex;
                if (valuex == 1) $("#date_in_week").css("display", "block");
                else $("#date_in_week").css("display", "none");
            });

            $("#submitquery").click(function () {
                //      $('#submitquery').addClass("disabled");
                var submitform = {};
                submitform.search_keyword = $("#key_word").val();
                submitform.search_cities = $("#city_choice").val();
                if (submitform.search_cities != "0") {
                    if ($("#district_choice").val() != "") submitform.search_cities = $("#district_choice").val();
                } else submitform.search_cities = "";
                //    console.log("search value :" + search_ct);
                
                submitform.ID_query = $("#key_name").val();
                submitform.type_companies = $("#company_type")[0].selectedIndex;
                submitform.age_range = $("#company_age")[0].selectedIndex + 1;
                submitform.main_job = $("#main_work").val();
                submitform.search_type = $("#search_type")[0].selectedIndex;
                submitform.loop_type = $("#search_work_1")[0].selectedIndex;
                submitform.time = $("#single-input").val();
                submitform.day_week = ($("#date_rect").val() != null ? $("#date_rect").val().join(',') : $("#date_rect").val());
                if (submitform.ID_query == null || submitform.ID_query == "") alert("Please Input Query Name");
                else {
                    $("#successsubmit").css("display", "none");
                    //  $("#errortext").html("Submit error, please check order information again");
                    $.ajax({
                        type: "POST",
                        url: "/Home/CreateQuery",
                        data: JSON.stringify(submitform),
                        contentType: "application/json; charset=utf-8",
                        success: function (item) {
                            $("#successsubmit").css("display", "block");
                        },
                        failure: function (data) {
                            //    $("#errorx").css("display", "block");
                            //     $("#errortext").html(item.error404);
                        },
                        complete: function () {
                            $('#Savebutton').removeClass("disabled");
                            $("#Close").click();
                        }
                    });
                    location.reload();
                }
            });
            $("#Backindex").click(function () {
                $('#maintable').css("display", "block");
                $('#detailxxx').css("display", "none");
                $('#step2').css("display", "none");
                $('#openmodal').css("visibility", "visible");
            });
            $('#allcb').change(function () {
                $('tbody tr td input[type="checkbox"]').prop('checked', $(this).prop('checked'));
            });
            $("#deletequeryxx").click(function () {
                var ID = $("#queryid").html();
                if (ID != null && ID != "") {
                    $.ajax({
                        type: "POST",
                        url: "/Home/DeleteListQuery?Id_Query=" + ID,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                        },
                        failure: function (errMsg) {
                        }
                    });
                }
                location.reload();

            });
            $('#AddCompaniesToPlan').click(function () {
                const list_ck = [];
                var count = 0;
                $('#detailcompanies').find('input[type="checkbox"]:checked').each(function () {
                    //this is the current checkbox
                    if (this.id != "allcb") {
                        list_ck.push(this.id);
                        count++;
                    }
                    
                });
                if (count == 0) alert("You must select at least one company to add!");
                else $('#fkingplansosad').click();

                   
                
            });
            $('#FinishAdd').click(function () {
                const list_ck = [];
                var count = 0;
                $('#detailcompanies').find('input[type="checkbox"]:checked').each(function () {
                    //this is the current checkbox
                    if (this.id != "allcb") {
                        list_ck.push(this.id);
                        count++;
                    }

                });

                var select = $('#selectplan').val();
                if (select == "") alert("Select Plan");
                else {
                    if (count == 0) alert("You must select at least one company to add!");
                    else toastr.success('Success Add To Plan, You Can Check On Lead Plans Tab.', 'Success Alert', { timeOut: 5000 })
                    var cs = { "listID": list_ck, "ID_plan": select };
                    console.log(JSON.stringify(cs));
                    $.ajax({
                        type: "POST",
                        url: "/Home/AddCompaniesToPlan",
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        data: JSON.stringify(cs),
                        success: function (data) {

                        },
                        failure: function (errMsg) {
                        }
                    });
                    $('#ClosePlanxa').click();
                }
            });


            $('#DeleteCompaniesFromPlan').click(function () {
                const list_ck = [];
                var count = 0;
                $('#detailcompanies').find('input[type="checkbox"]:checked').each(function () {
                    //this is the current checkbox
                    if (this.id != "allcb") {
                        list_ck.push(this.id);
                        count++;
                    }
                });
                var select = $('#selectplan').val();
                if (select == "") alert("Select Plan");
                else {
                    if (count == 0) alert("You must select at least one company to delete!");
                    else alert("Success Delete From Plan");
                    var cs = { "listID": list_ck, "ID_plan": select };
                    console.log(JSON.stringify(cs));
                    $.ajax({
                        type: "POST",
                        url: "/Home/DeleteCompaniesFromPlan",
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        data: JSON.stringify(cs),
                        success: function (data) {

                        },
                        failure: function (errMsg) {
                        }
                    });
                }
            });




            $("#old_city_choice").change(function () {
                $('').css("Enable", "none");
                $('#old_district_choice').empty();
                $('#old_district_choice').append('<option value="">Select District</option>');
                var valuex = $(this).val();
                $.each(list_city, function (index, item) {
                    if (valuex == item.SolrID) {
                        $.ajax({
                            type: "POST",
                            url: "/Home/GetDistrict?Dis=" + item.ID,
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {
                                if (data.error404 == null) {
                                    data = JSON.parse(data);
                                    $('#old_district_choice').empty();
                                    $('#old_district_choice').append('<option value="">Select District</option>');
                                    $.each(data, function (index, item) {
                                        $('#old_district_choice').append('<option value="' + item.SolrID + '">' + item.Title + '</option>');
                                    });
                                } else {
                                }
                            },
                            failure: function (errMsg) {
                            }
                        });
                    }
                });
            });
            $("#old_search_type").change(function () {
                var valuex = $(this)[0].selectedIndex;
                if (valuex == 1) $("#recurrent_typexa").css("display", "block");
                else $("#recurrent_typexa").css("display", "none");
            });
            $("#old_search_work").change(function () {
                var valuex = $(this)[0].selectedIndex;
                if (valuex == 1) $("#date_in_weekx").css("display", "block");
                else $("#date_in_weekx").css("display", "none");
            });


            $("#submit_new_old").click(function () {
                var submitform = {};
                submitform.search_keyword = $("#old_key_word").val();
                submitform.search_cities = $("#old_city_choice").val();
                if (submitform.search_cities != "0") {
                    if ($("#old_district_choice").val() != "") submitform.search_cities = $("#old_district_choice").val();
                } else submitform.search_cities = "";
                submitform.type_companies = $("#old_company_type")[0].selectedIndex;
                submitform.age_range = $("#old_company_age")[0].selectedIndex + 1;
                submitform.main_job = $("#old_main_work").val();
                submitform.search_type = $("#old_search_type")[0].selectedIndex;
                submitform.loop_type = $("#old_search_work")[0].selectedIndex;
                submitform.time = $("#old_single-input").val();
                submitform.day_week = "";
                $("#successsubmit").css("display", "none");
                $.ajax({
                    type: "POST",
                    url: "/Home/CreateQuery",
                    data: JSON.stringify(submitform),
                    contentType: "application/json; charset=utf-8",
                    success: function (item) {
                        $("#successsubmit").css("display", "block");
                    },
                    failure: function (data) {
                        //    $("#errorx").css("display", "block");
                        //     $("#errortext").html(item.error404);
                    },
                    complete: function () {
                        $('#submit_new_old').removeClass("disabled");
                        $("#Closexa").click();
                    }
                });
            });
            $("#submit_save_old").click(function () {
                var submitform = {};
                submitform.ID_query = $("#old_QueryID").val();
                submitform.search_keyword = $("#old_key_word").val();
                submitform.search_cities = $("#old_city_choice").val();
                if (submitform.search_cities != "0") {
                    if ($("#old_district_choice").val() != "") submitform.search_cities = $("#old_district_choice").val();
                } else submitform.search_cities = "";
                submitform.type_companies = $("#old_company_type")[0].selectedIndex;
                submitform.age_range = $("#old_company_age")[0].selectedIndex + 1;
                submitform.main_job = $("#old_main_work").val();
                submitform.search_type = $("#old_search_type")[0].selectedIndex;
                submitform.loop_type = $("#old_search_work")[0].selectedIndex;
                submitform.time = $("#old_single-input").val();
                submitform.day_week = "";
                $("#successsubmit").css("display", "none");
                $.ajax({
                    type: "POST",
                    url: "/Home/UpdateQuery",
                    data: JSON.stringify(submitform),
                    contentType: "application/json; charset=utf-8",
                    success: function (item) {
                        $("#successsubmit").css("display", "block");
                    },
                    failure: function (data) {
                        //    $("#errorx").css("display", "block");
                        //     $("#errortext").html(item.error404);
                    },
                    complete: function () {
                        $('#submit_save_old').removeClass("disabled");
                        $("#Closexa").click();
                    }
                });
            });

            $('#SaveEditCompanies').click(function () {
                var submitform = {};
                submitform.VAT = $("#com_vat").val();
                submitform.CompaniesName = $("#com_name").val();
                submitform.CompaniesAge = $("#com_Age").val();
                submitform.ContactRole = $("#com_role").val();
                submitform.ContactName = $("#com_name_author").val();
                submitform.ContactPhone = $("#com_phone").val();
                submitform.Email = $("#com_email").val();
                submitform.StatusLead = $("#com_lead").val();
                submitform.IDLead = $("#com_leads").val();
                submitform.StatusComment = $("#com_com").val();
                submitform.Description = $("#com_events_des").val();
                submitform.Dateevent = $("#com_events_date").val();
                submitform.Notes = $("#com_events_note").val();
                submitform.Next = $("#com_events_next").val();
                $.ajax({
                    type: "POST",
                    url: "/Home/UpdateComPanies_Querry",
                    data: JSON.stringify(submitform),
                    contentType: "application/json; charset=utf-8",
                    success: function (item) {
                        $("#successsubmit").css("display", "block");
                        toastr.success('Success Change Infor Company.', 'Success Alert', { timeOut: 5000 })
                    },
                    failure: function (data) {
                    },
                    complete: function () {
                        $('#Savebutton').removeClass("disabled");
                        $("#submitplans").css("display", "block");
                        $("#Closexxa").click();
                    }
                });
                const listcontactx = [];
                $('#contact_table tr').each(function () {
                    if ($(this).attr('data-name') != undefined)
                        listcontactx.push({
                            name: $(this).attr('data-name'),
                            role: $(this).attr('data-role'),
                            phone: $(this).attr('data-phone'),
                            email: $(this).attr('data-email')
                        });
                });
                var contactxs = {
                    listcontact: JSON.stringify(listcontactx),
                    id_vat: submitform.VAT
                }
                $.ajax({
                    type: "POST",
                    url: "/Home/Add_Contact_List",
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    data: JSON.stringify(contactxs),
                    success: function (data) {

                    },
                    failure: function (errMsg) {
                    }
                });
                getdetails(memory);
            });
            $("#submitplanssx").click(function () {
                var submitform = {};
                submitform.ID_lead = "";
                submitform.Total_number = "";
                submitform.Name = $("#Lead_Name").val();
                submitform.Description = $("#Lead_Description").val();
                submitform.Completion_date = $("#Lead_date").val();
                submitform.status = $("#Lead_status").val();
                if (submitform.Name == null || submitform.Name == "") alert("Please Add Plan Name");
                else if (submitform.Completion_date == null || submitform.Completion_date == "") alert("Please Select Completion Date");
                else {
                    $("#submitplanssx").css("display", "none");
                    $.ajax({
                        type: "POST",
                        url: "/Home/CreatePlans",
                        data: JSON.stringify(submitform),
                        contentType: "application/json; charset=utf-8",
                        success: function (item) {
                            toastr.success('Success Add New Plan, You Can Check On Lead Plans Tab.', 'Success Alert', { timeOut: 5000 })
                        },
                        failure: function (data) {
                            alert("Error! Try Again");
                        },
                        complete: function () {
                            $("#submitplanssx").css("display", "block");
                            $("#Closepalnx").click();
                            getlistplans();
                        }
                    });
                }
            
            });


            $("form").submit(function (e) {
                e.preventDefault();
                var name = $("#com_name_author").val();
                var role = $("#com_role").val();
                var phone = $("#com_phone").val();
                var email = $("#com_email").val();

                $(".data-table tbody").append("<tr data-name='" + name + "' data-email='" + email + "' data-role='" + role + "' data-phone='" + phone + "' ><td>" + role + "</td><td>" + name + "</td><td>" + phone + "</td><td>" + email + "</td><td><button class='btn btn-info btn-xs btn-edit'>Edit</button><button class='btn btn-danger btn-xs btn-delete'>Delete</button></td></tr>");

            });
            $("body").on("click", ".btn-delete", function () {
                $(this).parents("tr").remove();
            });
            $("body").on("click", ".btn-edit", function () {
                var name = $(this).parents("tr").attr('data-name');
                var email = $(this).parents("tr").attr('data-email');
                var role = $(this).parents("tr").attr('data-role');
                var phone = $(this).parents("tr").attr('data-phone');

                $(this).parents("tr").find("td:eq(0)").html('<input name="edit_role" value="' + role + '">');
                $(this).parents("tr").find("td:eq(1)").html('<input name="edit_name" value="' + name + '">');
                $(this).parents("tr").find("td:eq(2)").html('<input name="edit_phone" value="' + phone + '">');
                $(this).parents("tr").find("td:eq(3)").html('<input name="edit_email" value="' + email + '">');

                $(this).parents("tr").find("td:eq(4)").prepend("<button class='btn btn-info btn-xs btn-update'>Update</button><button class='btn btn-warning btn-xs btn-cancel'>Cancel</button>")
                $(this).hide();
            });
            $("body").on("click", ".btn-cancel", function () {
                var name = $(this).parents("tr").attr('data-name');
                var email = $(this).parents("tr").attr('data-email');
                var role = $(this).parents("tr").attr('data-role');
                var phone = $(this).parents("tr").attr('data-phone');

                $(this).parents("tr").find("td:eq(0)").text(role);
                $(this).parents("tr").find("td:eq(1)").text(name);
                $(this).parents("tr").find("td:eq(2)").text(phone);
                $(this).parents("tr").find("td:eq(3)").text(email);

                $(this).parents("tr").find(".btn-edit").show();
                $(this).parents("tr").find(".btn-update").remove();
                $(this).parents("tr").find(".btn-cancel").remove();
            });
            $("body").on("click", ".btn-update", function () {
                var name = $(this).parents("tr").find("input[name='edit_name']").val();
                var email = $(this).parents("tr").find("input[name='edit_email']").val();
                var role = $(this).parents("tr").find("input[name='edit_role']").val();
                var phone = $(this).parents("tr").find("input[name='edit_phone']").val();


                $(this).parents("tr").find("td:eq(0)").text(role);
                $(this).parents("tr").find("td:eq(1)").text(name);
                $(this).parents("tr").find("td:eq(2)").text(phone);
                $(this).parents("tr").find("td:eq(3)").text(email);

                $(this).parents("tr").attr('data-name', name);
                $(this).parents("tr").attr('data-email', email);
                $(this).parents("tr").attr('data-role', role);
                $(this).parents("tr").attr('data-phone', phone);

                $(this).parents("tr").find(".btn-edit").show();
                $(this).parents("tr").find(".btn-cancel").remove();
                $(this).parents("tr").find(".btn-update").remove();
            });
        });
        function deleteconfirm(id,name) {
            $('#queryid').html(id);
            $('#querynamexx').html(name);
            $('#deletebutton').click();
        };
        function clear_dis() {
            $('#old_district_choice').empty();
            $('#old_district_choice').append('<option value="">Select District</option>');
            var valuex = $("#old_city_choice").val();
            $.each(list_city, function (index, item) {
                if (valuex == item.SolrID) {
                    $.ajax({
                        type: "POST",
                        url: "/Home/GetDistrict?Dis=" + item.ID,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            if (data.error404 == null) {
                                data = JSON.parse(data);
                                $('#old_district_choice').empty();
                                $('#old_district_choice').append('<option value="">Select District</option>');
                                $.each(data, function (index, item) {
                                    $('#old_district_choice').append('<option value="' + item.SolrID + '">' + item.Title + '</option>');
                                });
                            } else {
                            }
                        },
                        failure: function (errMsg) {
                        }
                    });
                }
            });
        }
        function editquery(id) {

            var index = list_query.findIndex(x => x.ID_query == id);
            if (index >= 0) {
                $("#recurrent_typexa").css("display", "none");
                $("#date_in_weekx").css("display", "none");
                $("#openmodaxal").click();
                $("#old_QueryID").val(list_query[index].ID_query);
                $("#old_key_word").val(list_query[index].search_keyword.replace("k=", ""));
                var array = list_query[index].search_cities.replace("&l=", "").split("/");
                if (array.length >= 1) {
                    $("#old_city_choice").val("/" + array[1]);
                    clear_dis();
                    $("#old_district_choice").val(list_query[index].search_cities.replace("&l=", ""));
                }
                $("#old_company_type").val(list_query[index].type_companies);
                $("#old_company_age").val(list_query[index].age_range);
                $("#old_search_work").val(list_query[index].loop_type);
                $("#old_search_type").val(list_query[index].search_type);
                if (list_query[index].search_type == 1) $("#recurrent_typexa").css("display", "block");
                if (list_query[index].search_type == 1 && list_query[index].loop_type == 1) $("#date_in_weekx").css("display", "block");
                $("#old_single-input").val(list_query[index].time);
                $("#old_main_work").val(list_query[index].main_job.replace("&i=", ""));
                var valuex = list_query[index].day_week;
                $('#date_rec').val(valuex.split(','));

            }

        }
        function getdetailscompanies(id) {
            $('#editcompanies').click();
            var index = listcompanies.findIndex(x => x.VAT_number == id);
            if (index >= 0) {
                $('#com_vat').val(listcompanies[index].VAT_number);
                $('#com_name').val(listcompanies[index].Public_name_vn);
                $('#com_Age').val(listcompanies[index].Date_vat);
                $('#com_leads').val(listcompanies[index].ID_query);
              //  $('#com_name_author').val(listcompanies[index].Author_company);
             //   $('#com_phone').val(listcompanies[index].Phone);            
               // $("#com_role").val(listcompanies[index].ContactRole);
                // $("#com_email").val(listcompanies[index].Email);
                $('#com_name_author').val("");
                $('#com_phone').val("");            
                $("#com_role").val("");
                $("#com_email").val("");
                $("#com_com").val(listcompanies[index].StatusComment);
                $("#com_events_des").val(listcompanies[index].Description);
                $("#com_events_date").val(listcompanies[index].Dateevent);
                $("#com_events_note").val(listcompanies[index].Notes);
                $("#com_events_next").val(listcompanies[index].Next);
                $.ajax({
                    type: "POST",
                    url: "/Home/Get_Contact_List?ID_VAT=" + encodeURIComponent(listcompanies[index].VAT_number),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.error404 == null) {
                            $(".data-table tr>td").remove();
                            $.each(data, function (index, item) {
                                $(".data-table tbody").append("<tr data-name='" + item.name + "' data-email='" + item.email + "' data-role='" + item.role + "' data-phone='" + item.phone + "' ><td>" + item.role + "</td><td>" + item.name + "</td><td>" + item.phone + "</td><td>" + item.email + "</td><td><button class='btn btn-info btn-xs btn-edit'>Edit</button><button class='btn btn-danger btn-xs btn-delete'>Delete</button></td></tr>");
                            });
                        } else {
                        }
                    },
                    failure: function (errMsg) {
                    }

                });
            }
        }
        function getdetails(id) {
            memory = id;
            var tablec = $('#detailcompanies').DataTable();
            tablec.clear().draw();
            tablec.destroy();
            $('#maintable').css("display", "none");
            $('#detailxxx').css("display", "block");
            $('#step2').css("visibility", "visible");
            $('#openmodal').css("display", "none");
            //alert(id);
            $.ajax({
                type: "POST",
                url: "/Home/GetDetail?QueryID=" + encodeURIComponent(id),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.error404 == null) {
                        var t = $('#detailcompanies').DataTable();
                        listcompanies = data;
                        $.each(data, function (index, item) {
                            var r = t.row.add([
                                ' <input type="checkbox" id="' + item.VAT_number + '" name="' + item.VAT_number + '" />',
                                '<a onclick="getdetailscompanies(\'' + item.VAT_number + '\')" href="#">' + item.VAT_number + '</a>',
                                item.Public_name_vn,
                                item.Date_vat,
                                'Unqualified',
                                item.Description,
                                item.Close_date == "" ? '<span class="label label-success">Active</span>' : '<span class="label label-danger">Closed</span>',
                                item.Date_public,
                                item.Close_date,
                                item.Public_name_en
                            ]).node();
                            $(r).addClass(status);
                        });
                        t.columns.adjust().draw();
                    } else {
                    }
                },
                failure: function (errMsg) {
                }
            });
            toastr.info('Get List Company Done', 'Information', { timeOut: 5000 });
        };
    </script>
}
