﻿
@{
    ViewBag.Title = "Leads";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css" type="text/css" />
<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
<div class="row" style="font-size:initial">

    <style>
        .clockpicker-popover {
            z-index: 999999 !important;
        }
    </style>
    <!--Create New Query-->
    <div class="modal fade in" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
        <div class="modal-dialog" style="width:70%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Create New Plan</h4>
                </div>
                <div class="modal-body">

                    <div class="form-validate form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name </label>
                            <div class="col-sm-9">
                                <textarea type="text" class="form-control " style="overflow:auto;resize:none" rows="1" id="Lead_Name"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description </label>
                            <div class="col-sm-9">
                                <textarea type="text" class="form-control " style="overflow:auto;resize:none" rows="10" id="Lead_Description"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Targeted completion date</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control " style="overflow:auto;resize:none" rows="5" id="Lead_date"></textarea>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Plan Status</label>
                            <div class="col-sm-9">
                                <select class="form-control m-bot15 round-input " id="Lead_status">
                                    <option value="Not Started" class="">Not Started</option>
                                    <option value="In Progress">In Progress</option>
                                    <option value="Late">Late</option>
                                    <option value="Completed">Completed</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button" id="Close">Close</button>
                    <button data-original-title="Tips" data-content="Check again before submit query" data-placement="top" data-trigger="hover" class="btn btn-info popovers" id="submitplans"> Save</button>
                </div>
            </div>
        </div>
    </div>
    <!--Create New Query-->
    <!--Edit Details Companies-->
    <div class="modal fade in" id="editplansxx" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
        <div class="modal-dialog" style="width:70%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Edit Plan</h4>
                </div>
                <div class="modal-body">

                    <div class="form-validate form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Id Lead Plan </label>
                            <div class="col-sm-9">
                                <textarea type="text" class="form-control " style="overflow:auto;resize:none" rows="1" id="Lead_ID" disabled></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name </label>
                            <div class="col-sm-9">
                                <textarea type="text" class="form-control " style="overflow:auto;resize:none" rows="1" id="Lead_Name_Edit"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description </label>
                            <div class="col-sm-9">
                                <textarea type="text" class="form-control " style="overflow:auto;resize:none" rows="10" id="Lead_Description_Edit"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Targeted completion date</label>
                            <div class="col-sm-9">
                                <textarea type="text" class="form-control " style="overflow:auto;resize:none" rows="5" id="Lead_date_Edit"></textarea>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Plan Status</label>
                            <div class="col-sm-9">
                                <select class="form-control m-bot15 round-input " id="Lead_status_Edit">
                                    <option value="Not Started">Not Started</option>
                                    <option value="In Progress">In Progress</option>
                                    <option value="Late">Late</option>
                                    <option value="Completed">Completed</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button" id="Closex">Close</button>
                    <button data-original-title="Tips" data-content="Check again before submit query" data-placement="top" data-trigger="hover" class="btn btn-info popovers" id="editplansxs"> Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade in" id="Companieseditx" tabindex="-1" role="dialog" aria-labelledby="myModalLabelx" aria-hidden="false" style="display: none;">
        <div class="modal-dialog" style="width:80%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Edit Company</h4>
                </div>
                <div class="modal-body">

                    <div class="form-validate form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Company VAT</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control round-input " id="com_vat" disabled>
                                    </div>
                                    <label class="col-sm-3 control-label">ID Lead Plan</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control round-input " id="com_leads" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Company name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control round-input " id="com_name" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Company Age</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control round-input " id="com_Age" disabled>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label"> Status of leads</label>
                                    <div class="col-sm-9">
                                        <select class="form-control round-input " id="com_lead">
                                            <option value="New">New</option>
                                            <option value="Unqualified">Unqualified </option>
                                            <option value="Approaching">Approaching </option>
                                            <option value="Contacted">Contacted </option>
                                            <option value="Negotiating">Negotiating </option>
                                            <option value="Ordered">Ordered </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"> Status Comments</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control round-input " id="com_com">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"> Description events </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control round-input " id="com_events_des">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"> Date events </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control round-input " id="com_events_date">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"> Notes events </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control round-input " id="com_events_note">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"> Next Action </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control round-input " id="com_events_next">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <form>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Contact Role</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control round-input " id="com_role">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Contact Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control round-input " id="com_name_author">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Contact Phone</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control round-input " id="com_phone">
                                        </div>
                                        <label class="col-sm-1 control-label">Email</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control round-input " id="com_email">
                                        </div>
                                        <div class="col-sm-3">
                                            <button type="submit" class="btn btn-info  save-btn">Add Contact</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <table class="table table-bordered data-table" id="contact_table" style="margin-top:10px; background-color:white">
                                            <thead>
                                            <th>Role</th>
                                            <th>Name</th>
                                            <th>Phone</th>
                                            <th>Email</th>

                                            <th>Action</th>
                                            </thead>
                                            <tbody></tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button" id="Closexxa">Close</button>
                    <button data-original-title="Tips" data-content="Check again before submit query" data-placement="top" data-trigger="hover" class="btn btn-info popovers" id="SaveEditCompanies">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!--Edit Details Companies-->
    <!--Add To New Plan-->
    <div class="modal fade in" id="planfkingedit" tabindex="-1" role="dialog" aria-labelledby="myModalLabelx" aria-hidden="false" style="display: none;">
        <div class="modal-dialog" style="width:25%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Add To Plan</h4>
                </div>
                <div class="modal-body">

                    <div class="form-validate form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Select Plan</label>
                            <div class="col-sm-8">
                                <select id="selectplan"></select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button" id="ClosePlanxa">Close</button>
                    <button data-original-title="Tips" data-content="Check again before submit query" data-placement="top" data-trigger="hover" class="btn btn-info popovers" id="FinishAdd">Add</button>
                </div>
            </div>
        </div>
    </div>
    <!--Add To New Plan-->
    <div id="ahiuicu"></div>
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">DeleteConfirm</h4>
                </div>
                <div class="modal-body">

                    You sure about delete Plan Name: <b id="queryid" style="display:none"></b>
                    <b id="querynamex"></b>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" id="deleteplan"> Just Delete</button>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-danger" data-toggle="modal" href="#myModal3" id="deletebutton" style="display:none"></a>
    <div class="col-lg-12" id="maintable" style="display:block">
        <section class="panel">
            <div class="panel-body">
                <div class="alert alert-success fade in" id="successsubmit" style="display:none">
                    <button data-dismiss="alert" class="close close-sm" type="button">
                        <i class="icon-remove"></i>
                    </button>
                    <strong>Success</strong> You just submit new Plan.
                </div>
                <table id="history" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                    <thead>
                        <tr>

                            <th>Name</th>
                            <th>Status</th>
                            <th>Company List</th>

                            <th>Target Completion Date</th>

                            <th>Created Time</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </section>
    </div>
    <!--#Table for Details-->
    <div class="col-lg-12" id="detailxxx" style="display:none">
        <section class="panel">
            <div class="panel-body">
                <table id="detailcompanies" class="table table-striped table-bordered dt-responsive " style="width:100%">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="allcb" name="allcb" /></th>
                            <th>VAT Number</th>
                            <th>Company Name</th>
                            <th>Age</th>
                            <th>Lead Status</th>
                            <th>Latest Event Date </th>
                            <th>Status</th>
                            <th>Register Date</th>
                            <th>Close Date</th>
                            <th>Trade Name</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </section>
    </div>
    <!--#Table for Details-->
    <div class="panel-body">
        <a href="" class="btn btn-info " id="openmodal" data-toggle="modal" data-target="#exampleModalCenter" style="visibility:visible">
            Create New Plan
        </a>
        <a href="" class="btn btn-info " id="openmodalxs" data-toggle="modal" data-target="#editplansxx" style="display:none">
            Edit Plan
        </a>
        <div id="step2" style="visibility:hidden">
            <a href="" class="btn btn-info " id="Backindex">
                Back To Plan List
            </a>
            <a href="#" class="btn btn-info " id="AddCompaniesToPlan">
                Add To Plan
            </a>
            <a href="#" class="btn btn-danger " id="DeleteCompaniesFromPlan">
                Delete From Plan
            </a>
        </div>
        <a href="" class="btn btn-info " id="editcompanies" data-toggle="modal" data-target="#Companieseditx" style="visibility:hidden" />
        <a href="" class="btn btn-info " id="fkingplansosad" data-toggle="modal" data-target="#planfkingedit" style="visibility:hidden" />
    </div>
</div>
@section scripts {

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        var list_plans = "";
        var listcompanies = "";
        var memory = "";
        $(document).ready(function () {

            var listcompanies = "";
            getlist();
            getlistplans();

            function getlist() {
                $.ajax({
                    type: "POST",
                    url: "/Home/GetListPlan",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.error404 == null) {
                            var t = $('#history').DataTable();
                            list_plans = data;
                            $.each(data, function (index, item) {
                                var status = 'danger';
                                var statusc = '';
                                var plis = item.ID_lead.split("|");
                                if (item.status == "In Progress") { statusc = '<span class="label label-warning">In Progress</span>'; status = 'active'; }
                                else if (item.status == "Completed") { statusc = '<span class="label label-success">' + item.status + '</span>'; status = 'success'; }
                                else if (item.status == "Not Started") { statusc = '<span class="label label-danger">' + item.status + '</span>'; status = 'danger'; }
                                else { statusc = '<span class="label label-warning">' + item.status + '</span>'; status = 'warning'; }
                                var r = t.row.add([

                                    item.Name,
                                    statusc,
                                    '<a class="btn btn-info" href="#" onclick="getdetails(\'' + item.ID_lead + '\');">View Details (' + (item.Total_number) + ' companies)</a>',
                                    item.Completion_date,
                                     plis[plis.length>0?plis.length-1:0],
                                      '<div class="btn-group"> <a class="btn btn-info" href="#" onclick="editplan(\'' + item.ID_lead + '\');"><i class="icon_pencil-edit"></i></a> <a class="btn btn-danger" href="#" onclick="deleteconfirm(\'' + item.ID_lead + '\',\'' + item.Name + '\');"><i class="icon_trash"></i></a></div>'
                                ]).node();
                                $(r).addClass(status);
                            });
                            t.columns.adjust().order([[4, 'desc']]).draw();
                        } else {
                        }
                    },
                    failure: function (errMsg) {
                    }
                });
                toastr.info('Get List Plan Done', 'Information', { timeOut: 5000 });
            };
            $("#submitplans").click(function () {
                var submitform = {};
                submitform.ID_lead = "";
                submitform.Total_number = "";
                submitform.Name = $("#Lead_Name").val();
                submitform.Description = $("#Lead_Description").val();
                submitform.Completion_date = $("#Lead_date").val();
                submitform.status = $("#Lead_status").val();
                
                if (submitform.Name == null || submitform.Name == "") alert("Please Add Plan Name");
                else if (submitform.Completion_date == null || submitform.Completion_date == "") alert("Please Select Completion Date");
                else {

                    $("#submitplans").css("display", "none");
                    $.ajax({
                        type: "POST",
                        url: "/Home/CreatePlans",
                        data: JSON.stringify(submitform),
                        contentType: "application/json; charset=utf-8",
                        success: function (item) {
                            $("#successsubmit").css("display", "block");
                        },
                        failure: function (data) {
                        },
                        complete: function () {
                            $('#Savebutton').removeClass("disabled");
                            $("#submitplans").css("display", "block");
                            $("#Close").click();
                        }
                    });
                    location.reload();
                }
            });
            $("#deleteplan").click(function () {
                var ID = $("#queryid").html();
                if (ID != null && ID != "") {
                    $.ajax({
                        type: "POST",
                        url: "/Home/DeleteListPlan?ID_leads=" + encodeURIComponent(ID),
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                        },
                        failure: function (errMsg) {
                        }
                    });
                }
                location.reload();

            });
            $("#editplansxs").click(function () {
                var submitform = {};
                submitform.ID_lead = $("#Lead_ID").val();
                submitform.Total_number = "";
                submitform.Name = $("#Lead_Name_Edit").val();
                submitform.Description = $("#Lead_Description_Edit").val();
                submitform.Completion_date = $("#Lead_date_Edit").val();
                submitform.status = $("#Lead_status_Edit").val();
                $("#editplansxs").css("display", "none");
                $.ajax({
                    type: "POST",
                    url: "/Home/EditOldPlans",
                    data: JSON.stringify(submitform),
                    contentType: "application/json; charset=utf-8",
                    success: function (item) {
                        $("#successsubmit").css("display", "block");
                    },
                    failure: function (data) {
                    },
                    complete: function () {
                        $('#Savebutton').removeClass("disabled");
                        $("#editplansxs").css("display", "block");
                        $("#Closex").click();
                    }
                });
                location.reload();
            });
            $("#Backindex").click(function () {
                $('#maintable').css("display", "block");
                $('#detailxxx').css("display", "none");
                $('#step2').css("display", "none");
                $('#openmodal').css("visibility", "visible");
            });
            function getlistplans() {
                $('#selectplan').empty();
                $('#selectplan').append('<option value="">Select Leads Plan</option>');
                $.ajax({
                    type: "POST",
                    url: "/Home/GetListPlan",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.error404 == null) {
                            $('#selectplan').empty();
                            $('#selectplan').append('<option value="">Select Leads Plan</option>');
                            $.each(data, function (index, item) {
                                $('#selectplan').append('<option value="' + item.ID_lead + '">' + item.Name + '</option>');
                            });
                        } else {
                        }
                    },
                    failure: function (errMsg) {
                    }
                });
            }
            $('#allcb').change(function () {
                $('tbody tr td input[type="checkbox"]').prop('checked', $(this).prop('checked'));
            });
            $('#AddCompaniesToPlan').click(function () {
                const list_ck = [];
                var count = 0;
                $('#detailcompanies').find('input[type="checkbox"]:checked').each(function () {
                    //this is the current checkbox
                    if (this.id != "allcb") {
                        list_ck.push(this.id);
                        count++;
                    }
                });
                if (count == 0) alert("You must select at least one company to add!");
                else $('#fkingplansosad').click();

            });
            $('#FinishAdd').click(function () {
                const list_ck = [];
                var count = 0;
                $('#detailcompanies').find('input[type="checkbox"]:checked').each(function () {
                    //this is the current checkbox
                    if (this.id != "allcb") {
                        list_ck.push(this.id);
                        count++;
                    }

                });

                var select = $('#selectplan').val();
                if (select == "") alert("Select Plan");
                else {
                    if (count == 0) alert("You must select at least one company to add!");
                    else toastr.success('Success Add New Plan.', 'Success Alert', { timeOut: 5000 })
                    var cs = { "listID": list_ck, "ID_plan": select };

                    $.ajax({
                        type: "POST",
                        url: "/Home/AddCompaniesToPlan",
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        data: JSON.stringify(cs),
                        success: function (data) {

                        },
                        failure: function (errMsg) {
                        }
                    });

                    $('#ClosePlanxa').click();
                }
            });
            $('#DeleteCompaniesFromPlan').click(function () {
                const list_ck = [];
                var count = 0;
                $('#detailcompanies').find('input[type="checkbox"]:checked').each(function () {
                    //this is the current checkbox
                    if (this.id != "allcb") {
                        list_ck.push(this.id);
                        count++;
                    }
                });
                var select = $('#selectplan').val();
                if (select == "") alert("Select Plan");
                else {
                    if (count == 0) alert("You must select at least one company to delete!");
                    else toastr.success('Success Delete Plan, You Can Check On Lead Plans Tab.', 'Success Alert', { timeOut: 5000 })
                    var cs = { "listID": list_ck, "ID_plan": select };
                    $.ajax({
                        type: "POST",
                        url: "/Home/DeleteCompaniesFromPlan",
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        data: JSON.stringify(cs),
                        success: function (data) {

                        },
                        failure: function (errMsg) {
                        }
                    });
                }
            });
            $('#SaveEditCompanies').click(function () {
                var submitform = {};
                submitform.VAT = $("#com_vat").val();
                submitform.CompaniesName = $("#com_name").val();
                submitform.CompaniesAge = $("#com_Age").val();
                submitform.ContactRole = $("#com_role").val();
                submitform.ContactName = $("#com_name_author").val();
                submitform.ContactPhone = $("#com_phone").val();
                submitform.Email = $("#com_email").val();
                submitform.StatusLead = $("#com_lead").val();
                submitform.IDLead = $("#com_leads").val();
                submitform.StatusComment = $("#com_com").val();
                submitform.Description = $("#com_events_des").val();
                submitform.Dateevent = $("#com_events_date").val();
                submitform.Notes = $("#com_events_note").val();
                submitform.Next = $("#com_events_next").val();
                $.ajax({
                    type: "POST",
                    url: "/Home/UpdateComPanies",
                    data: JSON.stringify(submitform),
                    contentType: "application/json; charset=utf-8",
                    success: function (item) {
                        $("#successsubmit").css("display", "block");
                        toastr.success('Success Change.', 'Success Alert', { timeOut: 5000 })
                    },
                    failure: function (data) {
                    },
                    complete: function () {
                        $('#Savebutton').removeClass("disabled");
                        $("#submitplans").css("display", "block");
                        $("#Closexxa").click();
                    }
                });
                const listcontactx = [];
                $('#contact_table tr').each(function () {
                    if ($(this).attr('data-name') != undefined)
                        listcontactx.push({
                            name: $(this).attr('data-name'),
                            role: $(this).attr('data-role'),
                            phone: $(this).attr('data-phone'),
                            email: $(this).attr('data-email')
                        });
                });
                var contactxs = {
                    listcontact: JSON.stringify(listcontactx),
                    id_vat: submitform.VAT
                }
                $.ajax({
                    type: "POST",
                    url: "/Home/Add_Contact_List",
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    data: JSON.stringify(contactxs),
                    success: function (data) {

                    },
                    failure: function (errMsg) {
                    }
                });
                getdetails(memory);

            });
            $("form").submit(function (e) {
                e.preventDefault();
                var name = $("#com_name_author").val();
                var role = $("#com_role").val();
                var phone = $("#com_phone").val();
                var email = $("#com_email").val();

                $(".data-table tbody").append("<tr data-name='" + name + "' data-email='" + email + "' data-role='" + role + "' data-phone='" + phone + "' ><td>" + role + "</td><td>" + name + "</td><td>" + phone + "</td><td>" + email + "</td><td><button class='btn btn-info btn-xs btn-edit'>Edit</button><button class='btn btn-danger btn-xs btn-delete'>Delete</button></td></tr>");

            });
            $("body").on("click", ".btn-delete", function () {
                $(this).parents("tr").remove();
            });
            $("body").on("click", ".btn-edit", function () {
                var name = $(this).parents("tr").attr('data-name');
                var email = $(this).parents("tr").attr('data-email');
                var role = $(this).parents("tr").attr('data-role');
                var phone = $(this).parents("tr").attr('data-phone');

                $(this).parents("tr").find("td:eq(0)").html('<input name="edit_role" value="' + role + '">');
                $(this).parents("tr").find("td:eq(1)").html('<input name="edit_name" value="' + name + '">');
                $(this).parents("tr").find("td:eq(2)").html('<input name="edit_phone" value="' + phone + '">');
                $(this).parents("tr").find("td:eq(3)").html('<input name="edit_email" value="' + email + '">');

                $(this).parents("tr").find("td:eq(4)").prepend("<button class='btn btn-info btn-xs btn-update'>Update</button><button class='btn btn-warning btn-xs btn-cancel'>Cancel</button>")
                $(this).hide();
            });
            $("body").on("click", ".btn-cancel", function () {
                var name = $(this).parents("tr").attr('data-name');
                var email = $(this).parents("tr").attr('data-email');
                var role = $(this).parents("tr").attr('data-role');
                var phone = $(this).parents("tr").attr('data-phone');

                $(this).parents("tr").find("td:eq(0)").text(role);
                $(this).parents("tr").find("td:eq(1)").text(name);
                $(this).parents("tr").find("td:eq(2)").text(phone);
                $(this).parents("tr").find("td:eq(3)").text(email);

                $(this).parents("tr").find(".btn-edit").show();
                $(this).parents("tr").find(".btn-update").remove();
                $(this).parents("tr").find(".btn-cancel").remove();
            });
            $("body").on("click", ".btn-update", function () {
                var name = $(this).parents("tr").find("input[name='edit_name']").val();
                var email = $(this).parents("tr").find("input[name='edit_email']").val();
                var role = $(this).parents("tr").find("input[name='edit_role']").val();
                var phone = $(this).parents("tr").find("input[name='edit_phone']").val();


                $(this).parents("tr").find("td:eq(0)").text(role);
                $(this).parents("tr").find("td:eq(1)").text(name);
                $(this).parents("tr").find("td:eq(2)").text(phone);
                $(this).parents("tr").find("td:eq(3)").text(email);

                $(this).parents("tr").attr('data-name', name);
                $(this).parents("tr").attr('data-email', email);
                $(this).parents("tr").attr('data-role', role);
                $(this).parents("tr").attr('data-phone', phone);

                $(this).parents("tr").find(".btn-edit").show();
                $(this).parents("tr").find(".btn-cancel").remove();
                $(this).parents("tr").find(".btn-update").remove();
            });
        });
        const array_count = [];
        function deleteconfirm(id,name) {
            $('#queryid').html(id);
            $('#querynamex').html(name);
            $('#deletebutton').click();
        };
        function editplan(id) {

            var index = list_plans.findIndex(x => x.ID_lead == id);
            if (index >= 0) {
                $("#openmodalxs").click();
                $("#Lead_ID").val(list_plans[index].ID_lead);
                $("#Lead_Name_Edit").val(list_plans[index].Name);
                $("#Lead_Description_Edit").val(list_plans[index].Description);
                $("#Lead_date_Edit").val(list_plans[index].Completion_date);
                $("#Lead_status_Edit").val(list_plans[index].status);
            }

        }
        function getdetailscompanies(id) {
            $('#editcompanies').click();
            var index = listcompanies.findIndex(x => x.VAT_number == id);
            if (index >= 0) {
                $('#com_vat').val(listcompanies[index].VAT_number);
                $('#com_name').val(listcompanies[index].Public_name_vn);
                $('#com_Age').val(listcompanies[index].Date_vat);
              //  $('#com_name_author').val(listcompanies[index].Author_company);
                $('#com_lead').val(listcompanies[index].Status);
            //    $('#com_phone').val(listcompanies[index].Phone);
                $('#com_leads').val(listcompanies[index].ID_query);
              //  $("#com_role").val(listcompanies[index].ContactRole);
             //   $("#com_email").val(listcompanies[index].Email);
                $("#com_com").val(listcompanies[index].StatusComment);
                $("#com_events_des").val(listcompanies[index].Description);
                $("#com_events_date").val(listcompanies[index].Dateevent);
                $("#com_events_note").val(listcompanies[index].Notes);
                $("#com_events_next").val(listcompanies[index].Next);
                //Process get list data from .......

                $.ajax({
                    type: "POST",
                    url: "/Home/Get_Contact_List?ID_VAT=" + encodeURIComponent(listcompanies[index].VAT_number),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.error404 == null) {
                            $(".data-table tr>td").remove();
                            $.each(data, function (index, item) {
                                $(".data-table tbody").append("<tr data-name='" + item.name + "' data-email='" + item.email + "' data-role='" + item.role + "' data-phone='" + item.phone + "' ><td>" + item.role + "</td><td>" + item.name + "</td><td>" + item.phone + "</td><td>" + item.email + "</td><td><button class='btn btn-info btn-xs btn-edit'>Edit</button><button class='btn btn-danger btn-xs btn-delete'>Delete</button></td></tr>");
                            });
                        } else {
                        }
                    },
                    failure: function (errMsg) {
                    }

                });


            }
        }
        function getdetails(id) {
            toastr.info('Get List Company Done', 'Information', { timeOut: 5000 });
            $('#maintable').css("display", "none");
            $('#detailxxx').css("display", "block");
            $('#step2').css("visibility", "visible");
            $('#openmodal').css("display", "none");
            memory = id;
            var tablec = $('#detailcompanies').DataTable();
            tablec.clear().draw();
            tablec.destroy();
            while (array_count.length) { array_count.pop(); }
            array_count.push({
                status: '<span class="label label-primary">New</span>',
                count: 0
            });
            array_count.push({
                status: '<span class="label label-default">Unqualified</span>',
                count: 0
            });
            array_count.push({
                status: '<span class="label label-warning">Approaching</span>',
                count: 0
            });
            array_count.push({
                status: '<span class="label label-info">Contacted</span>',
                count: 0
            });
            array_count.push({
                status: '<span class="label label-danger">Negotiating</span>',
                count: 0
            });
            array_count.push({
                status: '<span class="label label-success">Ordered</span>',
                count: 0
            });
            $.ajax({
                type: "POST",
                url: "/Home/GetDetail_Lead?LeadID=" + encodeURIComponent(id),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.error404 == null) {
                        var t = $('#detailcompanies').DataTable();
                        listcompanies = data;
                        $.each(data, function (index, item) {
                            var sta = item.Status;
                            if (sta == 'New') sta = '<span class="label label-primary">' + item.Status + '</span>';
                            else if (sta == 'Unqualified') sta = '<span class="label label-default">' + item.Status + '</span>';
                            else if (sta == 'Approaching') sta = '<span class="label label-warning">' + item.Status + '</span>';
                            else if (sta == 'Contacted') sta = '<span class="label label-info">' + item.Status + '</span>';
                            else if (sta == 'Negotiating') sta = '<span class="label label-danger">' + item.Status + '</span>';
                            else if (sta == 'Ordered') sta = '<span class="label label-success">' + item.Status + '</span>';
                            var r = t.row.add([
                                 ' <input type="checkbox" id="' + item.VAT_number + '" name="' + item.VAT_number + '" />',
                                '<a onclick="getdetailscompanies(\'' + item.VAT_number + '\')" href="#">' + item.VAT_number + '</a>',
                                item.Public_name_vn,
                                item.Date_vat,
                                sta,
                                item.Description,
                                item.Close_date == "" ? '<span class="label label-success">Active</span>' : '<span class="label label-danger">Closed</span>',
                                item.Date_public,
                                item.Close_date,
                                item.Public_name_en
                            ]).node();
                            $(r).addClass(status);

                            var index = array_count.findIndex(x => x.status == sta);
                            if (index != -1) array_count[index].count++;
                            else array_count.push({
                                status: sta,
                                count: 1
                            });
                        });
                        t.columns.adjust().draw(false);
                        updatestatus();
                    } else {
                    }
                },
                failure: function (errMsg) {
                }

            });
        };
        function updatestatus() {
            var htmlcoe = '<div class="follow-info weather-category" style="color:black"><ul>';
            for (val of array_count) {
                htmlcoe += '<li style="width:' + (100 / array_count.length) + '%"><h3><b>' + val.count + '</b></h3>' + val.status + '</li>';
            }
            $("#ahiuicu").html(htmlcoe + '</ul></div>');
        }
    </script>
}
