﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @{ 
        if (HttpContext.Current.User.Identity.Name!=null && Session["Role_User"]==null) {
            string  userName = (HttpContext.Current.User.Identity.Name).Split('\\')[1].ToLower();
            Session["Role_User"] = "ahihi";
        } else {
        }
    }
    <section id="container" class="">
        <!--header start-->
        <header class="header dhl-bg">
            <div class="toggle-nav">
                <div class="icon_menu tooltips icon-reorder" data-original-title="Toggle Navigation" data-placement="bottom"></div>
            </div>

            <!--appname start-->
            <a href="/" class="logo">
                DHL Lead Query Tool
            </a>
            <!--appname end-->
            <!--logo start-->
            <a href="/" class="logoright"><img src="../img/logo.png"></a>
            <span class="usernameright">Hello, @(HttpContext.Current.User.Identity.Name!=null? (HttpContext.Current.User.Identity.Name).Split('\\')[1].ToLower():"Anonymous")!</span>
            <!--logo end-->
        </header>
        <!--header end-->
        <!--sidebar start-->
 <aside>
            <div id="sidebar" class="nav-collapse ">
     
                <ul class="sidebar-menu">
                    <li class="@(ViewBag.Title == "Index" ? "active" : "")">
                        <a class="" href="../Home/Index">
                            <i class="icon_house_alt"></i>
                            <span>Query List</span>
                        </a>
                    </li>
                    <li class="@(ViewBag.Title == "Leads" ? "active" : "")">
                        <a class="" href="../Home/Leads">
                            <i class="icon_menu"></i>
                            <span>Plan List</span>
                        </a>
                    </li>


                </ul>

            </div>
        </aside>  

            <section id="main-content">
        <section class="wrapper">
        @RenderBody()
            </section>
               </section>
    </section>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/plugins")
        @Scripts.Render("~/bundles/app")
        @RenderSection("scripts", required: false)
</body>
</html>
